---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://bsquyen.vercel.app/</loc>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://bsquyen.vercel.app/kien-thuc/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- for post in collections.baiviet %}
  <url>
    <loc>https://bsquyen.vercel.app{{ post.url }}</loc>
    <lastmod>{{ (post.data.updated or post.date) | ngayISO }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.7</priority>
  </url>
{%- endfor %}
</urlset>
